<!-- Call-To-Action Section
    ================================================== -->
<section id="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-8 wow fadeIn" data-wow-delay="0.2s">
        <p>
          <span>For more photos and to get them weekly via email. Click to...</span>
        </p>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-delay="0.4s">
        <a class="page-scroll" href="#footer">
          <span class="btn right">SUBSCRIBE</span>
        </a>
        <!-- Subscribe button -->
      </div>
    </div>
  </div>
</section>
