#footer-nav {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    letter-spacing: 2px;
    padding-top: 45px;
    background-color: #161616;
    height: 95px;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
}
