<!-- About Section
    ================================================== -->
<section id="about">
  <!-- Start about -->
  <div class="about-content wow fadeIn" data-wow-delay="2s">
    <div class="container">
      <!-- Container -->
      <h2>Ger ter Wijlen</h2>
      <!-- Your name or agency name here -->
      <div class="about-text">
        <p class="large">Netherlands, Almelo</p>
        <!-- Your address -->
        <p class="small">www.gerphotography.com</p>
        <!-- Your website -->
        <br>
        <p class="large">I love. Music. Dogs. Biking. Coffee.</p>
        <!-- Tell more about you -->
        <p class="atext">Velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
          dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum
          dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
          erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
          ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in. vulputate.</p>
      </div>
    </div>
  </div>
  <!-- End container -->
</section>
<!-- End about -->
