<!-- Social Media Section
    ================================================== -->
<section id="socials">
  <div class="container wow bounceIn" data-wow-delay="0.4s">
    <p>To get the latest update of me and my works</p>
    <p> >>
      <span class="follow"> Follow Me </span> &lt;&lt; </p>
    <ol class="social">
      <li>
        <a href="#">
          <i class="fa fa-facebook fa-2x"></i>
        </a>
      </li>
      <!-- Change # with your facebook link -->
      <li>
        <a href="#">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
      </li>
      <!-- Change # with your twitter link -->
      <li>
        <a href="#">
          <i class="fa fa-behance fa-2x"></i>
        </a>
      </li>
      <!-- Change # with your behance link -->
      <li>
        <a href="#">
          <i class="fa fa-dribbble fa-2x"></i>
        </a>
      </li>
      <!-- Change # with your dribbble link -->
      <li>
        <a href="#">
          <i class="fa fa-flickr fa-2x"></i>
        </a>
      </li>
      <!-- Change # with your flickr link -->
      <li>
        <a href="#">
          <i class="fa fa-google-plus fa-2x"></i>
        </a>
      </li>
      <!-- Change # with your googleplus link -->
      <li>
        <a href="#">
          <i class="fa fa-instagram fa-2x"></i>
        </a>
      </li>
      <!-- Change # with your instagram link -->
    </ol>
  </div>
</section>
