<!-- Header/Homepage
    ================================================== -->
<header id="banner" class="carousel slide zoom carousel-fade" data-ride="carousel">

  <div class="carousel-inner">
    <!-- Inner wrapper for slides -->
    <div class="item active">
      <!-- First item slider -->
      <img src="../../../assets/img/banners/01_bg.jpg" alt="banner-img">
      <!-- First item background image slider -->
      <div class="carousel-caption overlay">
        <div class="content">
          <div class="text wow bounceIn" data-wow-delay="0.2s">
            <h1>Awesome Photography</h1>
            <hr>
          </div>
        </div>
      </div>
      <!-- End first item background image slider -->
    </div>
    <!-- End first item slider -->

    <div class="item">
      <!-- Second item slider -->
      <img src="../../../assets/img/banners/02_bg.jpg" alt="banner-img">
      <!-- Second item background image slider -->
      <div class="carousel-caption">
        <div class="content">
          <div class="text wow bounceIn">
            <h1>Animal Photography</h1>
            <hr>
          </div>
        </div>
      </div>
      <!-- End second item background image slider -->
    </div>
    <!-- End second item slider -->

    <div class="item">
      <!-- Third item slider -->
      <img src="../../../assets/img/banners/03_bg.jpg" alt="banner-img">
      <!-- Third item background image slider -->
      <div class="carousel-caption">
        <div class="content">
          <div class="text wow bounceIn">
            <h1>Landscape Photography</h1>
            <hr>
          </div>
        </div>
      </div>
      <!-- End third item background image slider -->
    </div>
    <!-- End third item slider -->

    <div class="item">
      <!-- Fourth item slider -->
      <img src="../../../assets/img/banners/04_bg.jpg" alt="banner-img">
      <!-- Fourth item background image slider -->
      <div class="carousel-caption">
        <div class="content">
          <div class="text wow bounceIn">
            <h1>Digital Photography</h1>
            <hr>
          </div>
        </div>
      </div>
      <!-- End fourth item background image slider -->
    </div>
    <!-- End fourth item slider -->

    <div class="item">
      <!-- Fifth item slider -->
      <img src="../../../assets/img/banners/05_bg.jpg" alt="banner-img">
      <!-- Fifth item background image slider -->
      <div class="carousel-caption">
        <div class="content">
          <div class="text wow bounceIn">
            <h1>All About Photography</h1>
            <hr>
          </div>
        </div>
      </div>
      <!-- End fifth item background image slider -->
    </div>
    <!-- End fifth item slider -->
  </div>
  <!-- End inner wrapper for slides -->

  <!-- Controls -->
  <a class="left carousel-control" href="#banner" role="button" data-slide="prev">
    <img src="../../../assets/img/06_left.png" alt="prev-img">
    <!-- Left controls -->
  </a>
  <a class="right carousel-control" href="#banner" role="button" data-slide="next">
    <img src="../../../assets/img/05_right.png" alt="next-img">
    <!-- Right controls -->
  </a>
</header>
