<!-- Vision/Mission
    ================================================== -->
<section id="vision">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="dark-overlay vision">
          <div class="vision-border centered wow bounceIn">
            <h4>Design To Showcase</h4>
            <h2>Photography</h2>
            <h6>The need to capture the moment and freeze it for life.</h6>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="dark-overlay vision">
          <div class="vision-border centered wow bounceIn">
            <h4>Capture The Moment</h4>
            <h2>Photography</h2>
            <h6>Quality photography that preserves treasured memories.</h6>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="dark-overlay vision">
          <div class="vision-border centered wow bounceIn">
            <h4>Still-life Images</h4>
            <h2>Photography</h2>
            <h6>Take alot of photos not war.</h6>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- Portfolio Title -->
  <div class="light-overlay ptitle">
    <h2>Just Cool Things</h2>
    <h5>Recent pictures I’ve taken. Check them out!</h5>
  </div>
</section>
